body {
    background-color: black;
}

h1 {
    color: whitesmoke;
    /* font-family: 'MuseoModerno', cursive; */
    font-family: 'Montserrat', sans-serif;
    font-size: 100px;
    font-weight: 400;
    transition: width 2s, height 2s, background-color 2s, transform 2s;
}
p{
    font-family: 'Montserrat', sans-serif;
    color: whitesmoke;
    font-size: 45px;
    font-weight: 200;
    /* transition: width 2s, height 2s, background-color 2s, transform 2s; */
}
/* p:hover{
    transform: rotate(3600deg);
}
 */
 #background-video {
    height: 100vh;
    width: 100vw;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
  }