body{
    font-family: Arial, Helvetica, sans-serif;
}
form{
    border: solid 5px black;
    text-align: center;
    background-color:rgb(99, 173, 242);
    align-items: center;
}
input{
    border: 3px solid rgb(48, 77, 109);
    padding: 10px;
    border-radius: 10px;
}

.UN, .pass, .dropdown{
    border: solid 3px black;
    border-radius: 10px;
    background-color:  rgb(167, 204, 237);
    margin: 10px;
    margin-left: 100px;
    margin-right: 100px;
    padding: 10px;
}

#username, #password, #courses{
    display: block;
    position: relative;
    left: 43%;
    margin: 20px;
}

#courses{
    padding: 10px;
    border-radius: 10px;
    border: 3px solid rgb(48, 77, 109);
}

.btn{
    margin-bottom: 5px;
}